<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts :: head (pageTitle = 'Edit Movie List')">
</head>

<body>
    <nav th:fragment="nav">
        <div class="container">
            
            <form action="/movie/save" method="POST">
                <fieldset>
                    <legend>New movie</legend>

                    <div class="form-group mb-2">
                        <label for="movieImg" class="mb-2">Img: </label>
                        <input class="form-control" type="text" th:field="${movie.movieImg}">
                    </div>
                    <div class="form-group mb-2">
                        <label for="movieTitle" class="mb-2">Title: </label>
                        <input class="form-control" type="text" th:field="${movie.movieTitle}">
                    </div>
                    <div class="form-group mb-2">
                        <label class="mb-2">Genre: </label>
                        <br>
                        <select class="form-control" th:field="${movie.movieGenre}">
                            <option th:value="A">A</option>
                            <option th:value="B">B</option>
                            <option th:value="C">C</option>
                        </select>
                    </div>
                    <div class="form-group mb-2">
                        <label for="movieActor" class="mb-2">Actor: </label>
                        <input class="form-control" type="text" th:field="${movie.movieActor}">
                    </div>
                    <div class="form-group mb-2">
                        <label for="movieDescription" class="mb-2">Description: </label>
                        <input class="form-control" type="text" th:field="${movie.movieDescription}">
                    </div>
                    <div class="form-group mb-2">
                        <label class="mb-2">Rating: </label>
                        <br>
                        <select class="form-control" th:field="${movie.movieRating}">
                            <option th:value="1">1</option>
                            <option th:value="2">2</option>
                            <option th:value="3">3</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-dark">Submit</button>
                
                </fieldset>

            </form>
        </div>
    </nav>
</body>
</html>