<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts :: head (pageTitle = 'Home')">
</head>

<body>
    <nav th:fragment="nav">
        <!-- <h1>Hello <span th:text="${user.fullName}"></span></h1> -->
        <h1>Hello</h1>
        <div>
            <table th:each="movieList: ${movieList}">
                <thead>
                    <tr>
                        <th th:text="${movieList.movieListName}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="movie: ${movie}">
                        <th th:text="${movie.movieImg}"></th>
                        <th th:text="${movie.movieTitle}"></th>
                        <th th:text="${movie.movieGenre}"></th>
                        <th th:text="${movie.movieActor}"></th>
                        <th th:text="${movie.movieDescription}"></th>
                        <th th:text="${movie.movieRating}"></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </nav>
</body>
</html>